* {
    margin:0 ;
    padding: 0;
}
 

body{
    background-color: rgb(114, 137, 156);
}

#main {
    width: 600px;
    margin: auto;
    background-color: aqua;
    padding: 0 22px;


}

#title{
     padding: 32px 0;
     
}

#title h1, #title p{
    text-align: center;

}

#img-div{
    width: 100%;

}

#image{
    display: block;
    max-width:100%;

}

#img-div{
    padding-bottom: 32px;
}

#img-caption{
    text-align: center;
}
#tribute-info{
    padding-bottom: 32px;

}
#tribute-info p{
    text-align: justify;
}